  .App-header {
    background-color: #ced4da;
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .top-fixed {
    top: fixed;
  }
  .border-search{
    border-radius: 0px 0px 15px 0px !important;
  }
  .border-search-icon{
    border: 1px solid #ced4da !important;
    background-color: #fff !important;
    border-radius: 15px 0px 0px 0px !important;
  }
  .style-icon-search{
    color: green;
  }
  .style-icon-home{
    color: #fff;
  }
  .color-text{
    color: #fff !important;
  }
  .background{
    background-color: #196fd1 !important;
  }
  a {
    color: #fff !important;
  }
  .text-dropdown{
    color: #196fd1 !important;
  }

  .paper-style{
    border: 2px transparent solid;
    border-radius: 15px 15px 15px 15px;
    background-color: #fff;
  }

  .stile-container-col-paper{
    text-align: justify;
    color: black;
    margin-top: 10%;
    margin-left: 2%;
    padding: 3%;
  }
  .stile-container-col-notice{
    margin-top: 10%;
    margin-left: 2%;
    padding: 5%;
  }
  .image{
    width: 100%;
  }